DJANGO_SECRET_KEY='django-insecure-0!3c@*e4)3e^y0fzpgyjadzoj=89t#_^cdf!yf5u-!78dc_fhx'
DEBUG=False
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=postgresql
DATABASE_NAME=odmapper
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin1
DATABASE_HOST=odmapper-postgres
DATABASE_PORT=5432
